In [4]:
import pandas as pd
fb = pd.read_csv('Facebook_Economy.csv')
gp = pd.read_csv('GooglePlus_Economy.csv')
li = pd.read_csv('LinkedIn_Economy.csv')
nf = pd.read_csv('News_Final.csv')

In [10]:
nf.columns

Index(['IDLink', 'Title', 'Headline', 'Source', 'Topic', 'PublishDate',
       'SentimentTitle', 'SentimentHeadline', 'Facebook', 'GooglePlus',
       'LinkedIn'],
      dtype='object')

In [11]:
print(nf['Facebook'].value_counts(),nf['GooglePlus'].value_counts(),
      nf['LinkedIn'].value_counts())

 0       16844
-1       11602
 1        6413
 2        4764
 3        3557
         ...
 2511        1
 9913        1
 2832        1
 1273        1
 2766        1
Name: Facebook, Length: 2528, dtype: int64  0      50555
 1      11338
 2       5880
-1       5744
 3       3571
        ...
 249        1
 235        1
 246        1
 147        1
 244        1
Name: GooglePlus, Length: 292, dtype: int64  0       49854
 1        7649
-1        5745
 2        3752
 3        2590
         ...
 1324        1
 570         1
 547         1
 544         1
 785         1
Name: LinkedIn, Length: 845, dtype: int64

In [29]:
obama = nf[nf['Topic'] == 'obama']

In [30]:
import numpy as np
sites = [obama['Facebook'],obama['GooglePlus'],obama['LinkedIn']]
for i in sites:
    print(i.mean())

282.73324012583015
6.692170569730863
8.09140160782943

In [33]:
df = pd.read_csv('SeoulBikeData.csv', encoding = 'unicode_escape')
df.columns
df.head()

,Date,Rented Bike Count,Hour,Temperature(째C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(째C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes